AI_recruitment_v2.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -640,
        860
      ],
      "id": "743a15c6-9f5b-42b2-8f87-8758c4d18a1a",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1sHSDjZYXV_Cx0BFnHZNSJGTPapXLAWGF",
            "mode": "list",
            "cachedResultName": "enginerring",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1sHSDjZYXV_Cx0BFnHZNSJGTPapXLAWGF"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -400,
        860
      ],
      "id": "24daec1f-69c7-433a-9ba3-c7d0151014f7",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "kZirNVk5czfQJBgM",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -140,
        860
      ],
      "id": "e07a20e7-4dfb-42d6-938d-bbd240770dee",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        380,
        840
      ],
      "id": "f5a17e57-c1bd-4a2d-ba4e-538ac736f0dd",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "model": "amazon.nova-pro-v1:0",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAwsBedrock",
      "typeVersion": 1,
      "position": [
        600,
        800
      ],
      "id": "34173cde-680a-499b-a2eb-fa0fa0d10b7e",
      "name": "AWS Bedrock Chat Model",
      "credentials": {
        "aws": {
          "id": "6T2xvOK3N6VS10Dj",
          "name": "AWS account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 3,
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        800,
        1020
      ],
      "id": "bef6e798-01b2-4401-abbf-06aa14acfc1d",
      "name": "Merge"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=CV:\n {{ $json.text }}",
        "messages": {
          "messageValues": [
            {
              "message": "=YOU ARE THE WORLD’S MOST ACCURATE AND EFFICIENT RESUME ANALYST AND SUMMARIZER, renowned for creating concise, insightful summaries and evaluating candidate-job alignment with exceptional precision.  You will be provided with:  A candidate’s resume: {{ $json.text }}  A job description: {{ $json.data }}  Your task is twofold:  1. Summarize the Resume into the following three sections: - **Educational Qualifications**: Include degrees, institutions, and graduation years. - **Job History**: Include job titles, companies, and employment dates, along with key responsibilities. - **Skill Set**: List technical, soft, and industry-specific skills.  2. Evaluate the Candidate’s Suitability for the Job: Compare the resume content to the job description and assess how well the candidate’s background aligns with the role. Assign a score from 1 to 10 based on the following scale:  - 1–3 (Weak Match): Lacks critical qualifications or experience. - 4–6 (Moderate Match): Some relevant experience but noticeable gaps. - 7–8 (Strong Match): Meets most criteria with relevant background. - 9–10 (Excellent Match): Perfect or exceptional fit for the role.\nYour output MUST follow this strict format exactly (without any markdown formatting like `**`, `###`, or extra lines):  Name of Person:   [Full name]  or [No name there]   if name was not etracted properly \nMail or any other contact info:   [Email address or other contact info]  Educational Qualifications:   - [Degree], [Institution], [Year]   - [Degree], [Institution], [Year]    Job History:   - [Job Title], [Company], [Dates]: [Key responsibilities or achievements]   - [Job Title], [Company], [Dates]: [Key responsibilities or achievements]    Skill Set:   [Skill 1], [Skill 2], [Skill 3], ...  Candidate Evaluation:   Score: [1–10]  "
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        1080,
        1060
      ],
      "id": "435c4ae6-5363-41a3-9ca5-08af4a0922d1",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": "amazon.nova-micro-v1:0",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAwsBedrock",
      "typeVersion": 1,
      "position": [
        1020,
        1240
      ],
      "id": "ba2d31da-251b-4d4c-ae09-117a210f8d80",
      "name": "AWS Bedrock Chat Model1",
      "credentials": {
        "aws": {
          "id": "6T2xvOK3N6VS10Dj",
          "name": "AWS account"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        420,
        1200
      ],
      "id": "a158134f-49cb-4f87-baab-a4f5c039f6f3",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        180,
        600
      ],
      "id": "d89717c1-2963-44df-a54f-18e11f8a84b6",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1040,
        820
      ],
      "id": "efb70811-5e1f-4e40-aac2-934fe0ae4ebf",
      "name": "Wait",
      "webhookId": "a3f8ce6a-85bc-46ad-b6fb-45d17be2944b"
    },
    {
      "parameters": {
        "sendTo": "abc@gmail.com",
        "subject": "Selected CVs",
        "message": "=these are the sekected cvs :\n{{ $json.message }}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1400,
        540
      ],
      "id": "3925ea69-7838-4eaf-a26f-c90c18217a08",
      "name": "Gmail",
      "webhookId": "db637e80-fa69-408a-b8e7-4a4c74661cdb",
      "credentials": {
        "gmailOAuth2": {
          "id": "5Zg3KpZdeWhuNGom",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1sWFlwqwwrWlfqd4O4Ikdulz05OxEkWHm_sfAOowkLk4",
          "mode": "list",
          "cachedResultName": "Prf1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sWFlwqwwrWlfqd4O4Ikdulz05OxEkWHm_sfAOowkLk4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sWFlwqwwrWlfqd4O4Ikdulz05OxEkWHm_sfAOowkLk4/edit#gid=0"
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        820,
        340
      ],
      "id": "83353d61-797e-40a4-acb4-8803d03ae65a",
      "name": "Shortlist-CVs",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "MXzj0Ib1zdEcPdo1",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1sWFlwqwwrWlfqd4O4Ikdulz05OxEkWHm_sfAOowkLk4",
          "mode": "list",
          "cachedResultName": "Prf1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sWFlwqwwrWlfqd4O4Ikdulz05OxEkWHm_sfAOowkLk4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sWFlwqwwrWlfqd4O4Ikdulz05OxEkWHm_sfAOowkLk4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Education": "={{ $json.Education }}",
            "Contact": "={{ $json.Contact }}",
            "Candidate_Name": "={{ $json.Candidate_Name }}",
            "Skill": "={{ $json.Skill }}",
            "Job_History": "={{ $json.Job_History }}",
            "Score": "={{ $json.Score }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Score",
              "displayName": "Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Job_History",
              "displayName": "Job_History",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Skill",
              "displayName": "Skill",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Education",
              "displayName": "Education",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Contact",
              "displayName": "Contact",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Candidate_Name",
              "displayName": "Candidate_Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        280,
        120
      ],
      "id": "50d238cf-fa98-44ef-a76d-4247e6bcba86",
      "name": "Shortlist-CVs1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "MXzj0Ib1zdEcPdo1",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// This returns a single item with a number value\nreturn [\n  {\n    json: {\n      number: 42\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        380
      ],
      "id": "a62f639d-8411-425c-b51c-1c198826289e",
      "name": "Code2"
    },
    {
      "parameters": {
        "sendTo": "abc@gmail.com",
        "subject": "Selected CVs",
        "message": "=these are the selected cvs : {{ $json.message }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1360,
        280
      ],
      "id": "336e9ffa-a088-497a-a092-a91d057f37aa",
      "name": "Gmail1",
      "webhookId": "c14faa55-0b87-48a6-9465-f536aa20d18d",
      "credentials": {
        "gmailOAuth2": {
          "id": "5Zg3KpZdeWhuNGom",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let html = `\n<h2>📋 Selected Candidate Summary</h2>\n<table border=\"1\" cellpadding=\"6\" cellspacing=\"0\" style=\"border-collapse: collapse; font-family: Arial;\">\n  <thead>\n    <tr style=\"background-color: #f2f2f2;\">\n      <th>Candidate Name</th>\n      <th>Contact</th>\n      <th>Score</th>\n    </tr>\n  </thead>\n  <tbody>\n`;\n\nfor (let i = 0; i < items.length; i++) {\n  const name = items[i].json.Candidate_Name || 'N/A';\n  const contact = items[i].json.Contact || 'N/A';\n  const score = items[i].json.Score || 'N/A';\n\n  html += `\n    <tr>\n      <td>${name}</td>\n      <td>${contact}</td>\n      <td>${score}</td>\n    </tr>\n  `;\n}\n\nhtml += `\n  </tbody>\n</table>\n`;\n\nreturn [\n  {\n    json: {\n      message: html\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        540
      ],
      "id": "5d026396-1237-4c46-a43e-c99846da0313",
      "name": "Get_rows"
    },
    {
      "parameters": {
        "jsCode": "const output =$input.first().json.text; // This is the LLM response in the new format\nfunction extractSection(pattern, multiline = false) {\n  const regex = new RegExp(pattern, multiline ? \"ms\" : \"m\");\n  const match = output.match(regex);\n  return match ? match[1].trim() : \"\";\n}\n\n// Extract fields using clean patterns\nconst name = extractSection(/Name of Person:\\s*(.+)/);\nconst contact = extractSection(/Mail or any other contact info:\\s*(.+)/);\nconst education = extractSection(/Educational Qualifications:\\s*([\\s\\S]*?)Job History:/, true);\nconst jobHistory = extractSection(/Job History:\\s*([\\s\\S]*?)Skill Set:/, true);\nconst skillsRaw = extractSection(/Skill Set:\\s*(.+)/);\nconst skills = skillsRaw.split(\",\").map(skill => skill.trim());\n\nconst score = extractSection(/Score:\\s*(\\d+)/);\n\n// Return structured data\nreturn [\n  {\n    json: {\n      name,\n      contact,\n      education,\n      jobHistory,\n      skills,\n      score: parseInt(score)\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        940
      ],
      "id": "56a88ce6-c7fb-4b11-b835-e254d1213911",
      "name": "Extract_info _from_CVs"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1JgrzOvkUM6dmtzG2-4qOZ4yXU54KDktQ",
          "mode": "list",
          "cachedResultName": "job_description1.txt",
          "cachedResultUrl": "https://drive.google.com/file/d/1JgrzOvkUM6dmtzG2-4qOZ4yXU54KDktQ/view?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        100,
        1060
      ],
      "id": "4e32153b-39b3-411d-954b-b09aebaf5df5",
      "name": "Job_description",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "kZirNVk5czfQJBgM",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        180,
        860
      ],
      "id": "ce9d1440-1d61-4a97-8a81-92330b834b09",
      "name": "CVs",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "kZirNVk5czfQJBgM",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ $json.text }}",
        "schemaType": "manual",
        "inputSchema": "{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"candidate_name\": {\n\t\t\t\"type\": \"string\"\n\t\t},\n\t\t\"email_address\": {\n\t\t\t\"type\": \"string\",\n\t\t\t\"format\":\"email\"\n\t\t}\n\t}\n}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1,
      "position": [
        640,
        620
      ],
      "id": "177b6be9-fc08-43b7-a99e-5a0dcdb5e84c",
      "name": "Extract_name_contact"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1jCF9Sk-7BrDXWPhDLXcrUmvCU2BwbrjSYR8dV5hjrtI",
          "mode": "list",
          "cachedResultName": "Profile",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jCF9Sk-7BrDXWPhDLXcrUmvCU2BwbrjSYR8dV5hjrtI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jCF9Sk-7BrDXWPhDLXcrUmvCU2BwbrjSYR8dV5hjrtI/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Candidate_Name": "= {{ $json.name }}",
            "Education": "={{ $json.education }}",
            "Contact": "={{ $json.contact }}",
            "Skill": "={{ $json.skills }}",
            "Job_History": "={{ $json.jobHistory }}",
            "Score": "={{ $json.score }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Candidate_Name",
              "displayName": "Candidate_Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Contact",
              "displayName": "Contact",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Education",
              "displayName": "Education",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Skill",
              "displayName": "Skill",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Job_History",
              "displayName": "Job_History",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Score",
              "displayName": "Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1800,
        1260
      ],
      "id": "1c0332bc-bafc-40d8-afe8-708ac7a8cee3",
      "name": "CVs_append_with_score",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "MXzj0Ib1zdEcPdo1",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4cd032a3-7e40-4d4b-99a3-5d4b419e7de9",
              "leftValue": "={{ $json.Score }}",
              "rightValue": 7,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -280,
        360
      ],
      "id": "c6ca06e2-750a-4450-a04a-cf8579f3c9ac",
      "name": "If_Score_greater_than_7"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Job_description",
            "type": "main",
            "index": 0
          },
          {
            "node": "CVs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Extract_name_contact",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "AWS Bedrock Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Extract_name_contact",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AWS Bedrock Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Extract_info _from_CVs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If_Score_greater_than_7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Shortlist-CVs": {
      "main": [
        [
          {
            "node": "Get_rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Shortlist-CVs1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Shortlist-CVs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get_rows": {
      "main": [
        [
          {
            "node": "Gmail1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract_info _from_CVs": {
      "main": [
        [
          {
            "node": "CVs_append_with_score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Job_description": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CVs": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract_name_contact": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "CVs_append_with_score": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If_Score_greater_than_7": {
      "main": [
        [
          {
            "node": "Shortlist-CVs1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "749c5036-e814-48e2-a00b-f0c03ccb790a",
  "meta": {
    "instanceId": "56488f7ae4747a9f3ce09683c4c0551939170e3869a4910a27cef2250c1512f4"
  },
  "id": "ntAJTgsPa2XcyGNo",
  "tags": []
}